In [8]:
from __future__ import print_function
import tweepy
import json
from pymongo import MongoClient

In [9]:
# cursor = db.collection.find().limit(200).sort([("created_at",-1)])

In [10]:
import re
import nltk
# 到时候再看看 twitter_text
def filter_tweet(tweet):
    # 替换twitter特殊字符
    tweet = tweet.lower()
    # 替换tweet Url and user mentions
    tweet = re.sub(r"(http[s:…]*(//\S*)?)|(@\w+)", "", tweet)
    tweet = [wnl.lemmatize(word) for word in nltk.word_tokenize(tweet)]
    tweet = [word for word in tweet if word not in remove_words and len(word) >= 3]
    return tweet

ModuleNotFoundError: No module named 'nltk'

In [7]:
MONGO_HOST= 'mongodb://127.0.0.1:27017/twitterdb'
client = MongoClient(MONGO_HOST)
            
            # Use twitterdb database. If it doesn't exist, it will be created.
db = client.twitterdb

cursor = db.twitter_search.find().limit(10000).sort([("created_at",-1)])

import pandas as pd
new_df = pd.DataFrame() #columns = ['location']
HASHTAGS = ['airpod','ipad','macbook','iphone','iwatch']

states = ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DC", "DE", "FL", "GA", 
          "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", 
          "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", 
          "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", 
          "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"]
for post in cursor:
    if str(post['user']['location']).split(', ')[-1] in states:
        
        print(filter_tweet(post['text']))
        
        for i, hashtag in enumerate(post['entities']['hashtags']):
            #print(post['entities']['hashtags'][i]['text'])
            if post['entities']['hashtags'][i]['text'] in HASHTAGS:
                print(str(post['source']))
                device = ''
                if 'Android' in str(post['source']):
                    device = 'Andriod'
                    print('Andriod')
                elif 'Web' in str(post['source']):
                    device = 'Web'
                    print('Web')
                elif 'iPhone' in str(post['source']):
                    device = 'iPhone'
                    print('iPhone')
                elif 'Buffer' in str(post['source']):
                    device = 'Buffer'
                    print('Buffer')
                elif 'None' in str(post['source']):
                    device = 'None'
                    print('None')
                else:
                    continue
                new_df = new_df.append({'location' : str(post['user']['location']).split(', ')[-1], 
                                        'time' : post['created_at'],
                                        'tag' : post['entities']['hashtags'][i]['text'],
                                        'device' : device,
                                        'total_donations': 1},
                                         ignore_index=True)

NameError: name 'nltk' is not defined

In [4]:
new_df.describe()

       total_donations
count              7.0
mean               1.0
std                0.0
min                1.0
25%                1.0
50%                1.0
75%                1.0
max                1.0

In [5]:
new_df.head(10)

    device location     tag                            time  total_donations
0  Andriod       FL    ipad  Fri Nov 30 05:44:03 +0000 2018              1.0
1  Andriod       FL    ipad  Fri Nov 30 05:40:01 +0000 2018              1.0
2  Andriod       FL    ipad  Fri Nov 30 05:35:58 +0000 2018              1.0
3  Andriod       FL    ipad  Fri Nov 30 05:31:56 +0000 2018              1.0
4  Andriod       FL    ipad  Fri Nov 30 05:26:55 +0000 2018              1.0
5      Web       TX  iphone  Fri Nov 30 05:18:49 +0000 2018              1.0
6   Buffer       AZ  iphone  Fri Nov 30 05:08:02 +0000 2018              1.0

In [6]:
new_df['time']

0    Fri Nov 30 05:44:03 +0000 2018
1    Fri Nov 30 05:40:01 +0000 2018
2    Fri Nov 30 05:35:58 +0000 2018
3    Fri Nov 30 05:31:56 +0000 2018
4    Fri Nov 30 05:26:55 +0000 2018
5    Fri Nov 30 05:18:49 +0000 2018
6    Fri Nov 30 05:08:02 +0000 2018
Name: time, dtype: object

In [7]:
for time in enumerate(new_df['time']):
    time_meta = str(time[1]).split(' ')
    print(time_meta)

['Fri', 'Nov', '30', '05:44:03', '+0000', '2018']
['Fri', 'Nov', '30', '05:40:01', '+0000', '2018']
['Fri', 'Nov', '30', '05:35:58', '+0000', '2018']
['Fri', 'Nov', '30', '05:31:56', '+0000', '2018']
['Fri', 'Nov', '30', '05:26:55', '+0000', '2018']
['Fri', 'Nov', '30', '05:18:49', '+0000', '2018']
['Fri', 'Nov', '30', '05:08:02', '+0000', '2018']

In [9]:
import datetime
a = new_df['time'].apply(lambda x: str(x).split(' '))
a = a.apply(lambda x:x[2]+'-'+x[1]+'-'+x[5] + ' ' + x[3].split(':')[0] + ':' + x[3].split(':')[1] + ':00')
new_df['time'] = a.apply(lambda x:datetime.datetime.strptime(x,'%d-%b-%Y %H:%M:%S').strftime('%Y-%m-%d %H:%M:%S') )
new_df['time']

0    2018-11-30 05:44:00
1    2018-11-30 05:40:00
2    2018-11-30 05:35:00
3    2018-11-30 05:31:00
4    2018-11-30 05:26:00
5    2018-11-30 05:18:00
6    2018-11-30 05:08:00
Name: time, dtype: object

In [54]:
ddf = new_df.rename(columns={'location': 'school_state',
                             'time': 'date_posted',
                             'tag': 'resource_type',
                             'device': 'funding_status'})

In [55]:
ddf.head(10)

,funding_status,school_state,resource_type,date_posted,total_donations
0,Andriod,FL,ipad,2018-11-30 05:44:03,1.0
1,Andriod,FL,ipad,2018-11-30 05:40:01,1.0
2,Andriod,FL,ipad,2018-11-30 05:35:58,1.0
3,Andriod,FL,ipad,2018-11-30 05:31:56,1.0
4,Andriod,FL,ipad,2018-11-30 05:26:55,1.0
5,Web,TX,iphone,2018-11-30 05:18:49,1.0
6,Buffer,AZ,iphone,2018-11-30 05:08:02,1.0

In [56]:
ddf.to_csv('dataa.csv')